body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: 70px;
    

    
}
span{
    color: coral;
    
}

section{
    display: flex;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 55%;
}
a{
    background: rgb(233, 89, 37);
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 8px;
    color: white;
}