body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: 70px;
    

    
}
span{
    color: coral;
    
}
.solid{
    border-left: 4px solid coral;
    border-radius: 2px;
   
}


section{
    display: flex;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 55%;
}
a{
    background: rgb(233, 89, 37);
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 8px;
    color: white;
}

  



}
.image-size{
    width: 25%;
}
.center{
    text-align:center ;
  margin-top: 40px;
}


.box-1,.box-2,.box-3{
   
    margin: 70px 60px;
    margin-right: 10px;
    padding-left: 20px;
    width: 500px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgb(180, 178, 176);
    border-radius: 15px;
    
}
.box-container{
    padding: 90px;
    display: flex;
    justify-content: center;
   
}
.box-1{
    background: rgb(207, 202, 202);
}
.box-2{
    background: honeydew;
}
.box-3{
   background: lavenderblush;
    
   
}
section{
    display: flex;
    margin: 80px 70px;
}
.margin{
    margin: 50px 40px;
}
.ancor{
    background: rgb(233, 89, 37);
    padding: 20px 40px;
    font-weight: bold;
    border-radius: 8px;
    color: white;
    margin: 50px 40px;

}
.display{
    display: flex;
}
